<!DOCTYPE html>
<html>
  <head>
    <title>RescueMission</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <div class='top-menu'>
    <a href='/'><img id='img-logo' src='https://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=26935517'></a>
    <table style='display: inline'>
      <tr>
        <td><h2>Rescue Mission</h2></td>
      </tr>
      <tr>
        <td><h5>A place to answer unanswered questions</h5></td>
      </tr>
    </table>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
