<h1>Admins</h1>

  <table>
    <th>Name</th>
    <th>Email</th>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %> <%= user.last_name %> </td>
    <td> <%= user.email %> </td>
  </tr>
  <%end%>
